---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/3DPrinting/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<a href={`/3DPrinting`} id="home" >Acceuil</a>
		<slot />
	</body>
</html>
<style is:global>

	body {
		--black: #212B36;
		--white: #EEEEEE;
		color: var(--black);
		background-color: var(--white);
		margin: 0px;
	}

	#home {
		position: absolute;
		left: 5px;
		top: 5px;
		color: var(--white);
	}

</style>
